<main class="content">
<section>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.2352197303157!2d-46.66605918502226!3d-23.559994084683577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59d31a6216f5%3A0xe9a99d39c6039704!2sRua%20Haddock%20Lobo%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1654300934117!5m2!1spt-BR!2sbr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<section class="contact">
<label class="contact -label">Horario de atendimento</label>
<div>
  <ul class = "test">
    <li *ngFor="let horarios of horarios">
      <mat-icon >schedule</mat-icon>
      {{horarios}}
    </li>
  </ul>
</div>
</section>

<section>
  newsletter
</section>
</main>
