@import '../../sass/helpers/variables';

.content {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
height: 80vh;
grid-template-rows: 50% 30% 20%;

.contact {

  &.-label {
    color: $color-white;
  }
}
> section {
  background-color: #bdbdbd;
  border: 2px solid #333;
  grid-column: 1/4;
}
}
