@import '../../sass/helpers/variables';

.content {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
height: 80vh;
grid-template-rows: 50% 30% 20%;

.contact {

  &.-label {
    margin-left: 3rem;
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    color: $color-black;

  }
}
> section {
  background-color: #bdbdbd;
  border: 2px solid #333;
  grid-column: 1/4;
}
}
.test{
  padding-left: 3rem;
  width: 25%;

  >li {
    line-height: 20px;
    font-weight: 300;
    margin-top: 0.5rem;
    >mat-icon {
      position: relative;
      top: 0.3rem;
      font-size: 22px !important;
    }
  }
 }
