@import "../../sass/helpers/variables";

.content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 2rem;
  height: 75vh;
  grid-template-rows: 5rem;
  row-gap: 0.5rem;

  >.label-header {
    grid-column: 1/4;
    font-weight: 700;
    font-size: 35px;
    line-height: 55.68px;
    margin-top: 1rem;

    >label {
      margin-left: 8rem;
    }
  }

  >.barber-info {
    display: grid;
    justify-items: center;

    &.-barber-two {
      grid-column: 2/4;
      text-align: center;
    }
  }

}

.name-barber {
  font-size: 20px;
  font-weight: 700;
  color: $color-black;
  margin-top: 0.2rem;
  text-transform: capitalize;
}

.descrition-barber {
  font-size: 13px;
  text-align: center;
  font-weight: 700;
  max-width: 55%;
}

@media screen and (min-width: 1550px) {
  .name-barber {
    font-size: 26px;
  }

  .descrition-barber {
    font-size: 18px;
  }
}
