.barbers-container {
display: inline-block;
}
.header {
  margin-left: 15%;

  >.-label {
    font-weight: 300;
    font-size: 35px;
    line-height: 55.68px;
  }
}
.container-profiles{
  background-color: aqua;
}
