// colors - FIGMA

$color-brown: #7E5228;
$color-brown-dark : #5f3b19;
$color-white: #fff;
$color-white-lighter: #E5E5E5;
$color-black: #000000;
$color-grey: #CAC9C8;
$color-grey-dark: #4a4a4a;
// e0e0e0

$color-white-second : #F6F3EE;
$color-brown-lighter: #6C4E40;
$color-white-second-lighter: #ABA79E;

$color-black-second : #0000006b;

// Fonts

$text : "Poppins", sans-serif;

$text_bold: 'Exo 2', sans-serif;
