<main>
  <mat-toolbar>

    <span class="logo" > <a [routerLink]="['']"   > <img src="../../../../assets/img/logo/logo-whiteAtual.svg" alt="logo" class="logoMain"> </a> </span>
      <!-- <a class="header-button" mat-button [routerLink]="['']" >Home</a> -->
      <a class="header-button" mat-button [routerLink]="['/about']" >Quem Somos</a>
      <a class="header-button" mat-button [routerLink]="['/schedules']" >Agendamento</a>
      <a class="header-button" mat-button [routerLink]="['/barbers']" >Barbeiros</a>
      <a class="header-button" mat-button [routerLink]="['/locality']" >Localidade</a>
      <a class="header-button" mat-button [routerLink]="['/sac']" >Atendimento</a>

  </mat-toolbar>


</main>
