@import '../../../sass/helpers/variables';

mat-toolbar {
  display: flex;
  justify-content: space-around;
background-color: #030303;
  height: 100px;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    > mat-icon {
      color: $color-white;
      position: relative;
      margin-top: 1.5rem;
      right: 0.5rem;
      font-size: 28px;
      &:hover{
        color: $color-brown;
      }
    }
  }
}

.logoMain {
    width: 70px;
    margin-top: 10px;

}
.header-button {
  background-color: $color-brown;
  color: $color-white;
  min-width: 160px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid $color-black-second;
}
.header-button{
  margin-top: 25px;
}

