<main>
  <mat-toolbar>

    <span class="logo" > <a [routerLink]="['']"   > <img src="../../../../assets/img/logo/logo-whiteAtual.svg" alt="logo" class="logoMain"> </a> </span>
      <!-- <a class="header-button" mat-button [routerLink]="['']" >Home</a> -->
      <a class="header-button" mat-button [routerLink]="['/about']" >Quem Somos</a>
      <a class="header-button" mat-button [routerLink]="['/schedules']" >Agenda</a>
      <a class="header-button" mat-button [routerLink]="['/barbers']" >Barbeiros</a>
      <a class="header-button" mat-button [routerLink]="['/locality']" >Localidade</a>
      <a class="header-button" mat-button [routerLink]="['/login']" >Entrar</a>
      <button><mat-icon>settings</mat-icon> </button>

  </mat-toolbar>


</main>
