<div class="container">
  <section class="container-content">
    <header class="header"><h1>Sobre Nós</h1></header>
    <p class="container-content text">
      A gM barber é especializada nos cuidados estéticos e do bem-estar masculino.
      Contando com profissionais experientes no mercado, atuamos não somente no
      corte, mas oferecemos uma experiência de conforto, favorecendo a mente um
      momento de relaxamento e descanso. Um ambiente preparado com
      profissionalismo para que não tenhamos apenas clientes, mas amigos. Cremos
      que a ética no local de trabalho deve ser algo que traga conforto para os
      nossos clientes amigos, criando uma ambiência de bem-estar e confiabilidade.
      Um clube favorece e trás benefícios para os seus membros, aqui no Club GM
      não é diferente! Você terá acesso aos melhores produtos para seu cabelo e
      barba, sem nenhum adicional no valor por isso, porque se tratando de você,
      toda atenção é dedicada. Agende hoje mesmo um horário, e veja com seus
      próprios olhos que fazer parte do Club GM vai além de um momento, é um
      privilégio. Bem-Vindo ao Club!
    </p>

  </section>
    <section class="container-img">
    <img  class="img-about-we" src="../../assets/img/aboutWe/aboutWe.svg" alt="aboutWe">
    </section>

</div>
