@import '../../../../../sass/helpers/variables';

.radio-container {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

main {
font-family: $text;
}


::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color: $color-brown-dark !important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color:$color-black!important; /*outer ring color change*/
}
