<main class="container">
  <section class="content-background">
    <div class="img-background"></div>
    <aside>
      <div class="header">
        <button
          class="title"
          [ngClass]="loginTemplate ? '-active' : ''"
          (click)="toggle()"
        >
          <label>Login</label>
        </button>
        <button
          class="title"
          [ngClass]="!loginTemplate ? '-active' : ''"
          (click)="toggle()"
        >
          <label>Registrar-se</label>
        </button>
      </div>
      <section class="container-input child" *ngIf="loginTemplate; else signUp">
        <form class="input-form">
          <mat-form-field class="input-full">
            <mat-label>E-mail</mat-label>
            <input
              type="email"
              matInput
              [formControl]="emailFormControl"
              [errorStateMatcher]="matcher"
              placeholder="Ex. gmbarber@example.com"
              maxlength="50"
            />
            <mat-error
              *ngIf="
                emailFormControl.hasError('email') &&
                !emailFormControl.hasError('required')
              "
            >
              Por favor insira um endereço de e-mail válido
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              E-mail é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input-full password">
            <mat-label>Senha</mat-label>
            <input
              type="password"
              matInput
              [type]="hide ? 'password' : 'text'"
              maxlength="50"
              placeholder="Digite sua senha"
              [formControl]="passwordFormControl"
            />

            <button
              type="button"
              class="button-password"
              mat-icon-button
              (click)="hide = !hide"
            >
              <mat-icon>{{ hide ? "visibility" : "visibility_off" }}</mat-icon>
            </button>
          </mat-form-field>
        </form>

        <button
          class="l-button submit"
          [ngClass]="fieldInvalidLogin ? 'l-button submit disabled' : ''"
          [disabled]="fieldInvalidLogin"
          type="submit"
        >
          Entrar
        </button>
        <label [routerLink]="['/password']" class="forget-pass">
          Esqueceu sua senha ?</label
        >
      </section>
      <ng-template #signUp>
        <section class="container-input child">
          <form class="input-form">
            <mat-form-field class="input-full">
              <mat-label>E-mail</mat-label>
              <input
                type="email"
                matInput
                [formControl]="emailFormControl"
                [errorStateMatcher]="matcher"
                placeholder="Ex. gmbarber@example.com"
                maxlength="50"
              />
              <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
              <mat-error
                *ngIf="
                  emailFormControl.hasError('email') &&
                  !emailFormControl.hasError('required')
                "
              >
                Por favor insira um endereço de e-mail válido
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                E-mail é <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="input-full">
              <mat-label>Nome do usuário</mat-label>
              <input
                type="text"
                matInput
                placeholder="Digite seu nome"
                maxlength="50"
                [formControl]="userFormControl"
              />
            </mat-form-field>

            <mat-form-field class="input-full password">
              <mat-label>Senha</mat-label>
              <input
                type="password"
                matInput
                [type]="hide ? 'password' : 'text'"
                maxlength="50"
                placeholder="Digite uma senha"
                [formControl]="passwordFormControl"
              />

              <button
                type="button"
                class="button-password"
                mat-icon-button
                (click)="hide = !hide"
              >
                <mat-icon>{{
                  hide ? "visibility" : "visibility_off"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </form>

          <button
            class="l-button submit"
            [disabled]="fieldInvalidSignUp"
            [ngClass]="fieldInvalidSignUp ? 'l-button submit disabled' : ''"
            type="submit"
          >
            Registrar-se
          </button>
        </section>
      </ng-template>
    </aside>
  </section>
</main>
