<main class="container">
  <header class="header">
    <h2> Olá Gustavo</h2>
  </header>
  <div class="my-schedules subtitle">
    <mat-icon class="subtitle icon">calendar_month</mat-icon>
    <label class="subtitle label"> Meus agendamentos</label>
  </div>
  <ng-container *ngTemplateOutlet="10>5 ? clientTemplate : adminTemplate"></ng-container>

  <ng-template #clientTemplate>


      <mat-table class="mat-table" [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="hour">
          <mat-header-cell *matHeaderCellDef> Horário </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.hour}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nameBarber">
          <mat-header-cell *matHeaderCellDef> Barbeiro </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nameBarber}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="service">
          <mat-header-cell *matHeaderCellDef> Serviço </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.service}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element">

            <mat-icon class="icon-status pending" *ngIf="element.status !=='done'">pending</mat-icon>
            <mat-icon class="icon-status done" *ngIf="element.status =='done'">done</mat-icon>
            <mat-icon class="icon-status delete" *ngIf="element.status !=='done'" >delete</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
  </ng-template>
  <ng-template #adminTemplate>
    admin
  </ng-template>
</main>
