<main>
  <footer class="footer">
    <aside class="footer name">
      <h4>Gustavo Munhoz</h4>
      <p class="footer text-secundary">Creative Entepreneur</p>
    </aside>
    <aside class="footer location">
      <mat-icon class="footer mat-icon">location_on</mat-icon>
      <div class="block-text">
        <p class="footer text-secundary">225 Varick St.</p>
        <p class="footer text-secundary">New Yourk, New Yourk 1008</p>
      </div>
    </aside>
    <aside class="footer email">
    <mat-icon class="footer mat-icon">email</mat-icon>
    <div class="block-text">
      <p class="footer text-secundary"> gmbarbershop@gmail.com</p>
      <p class="footer text-secundary"> 55 (11) 99999-0085</p>
    </div>
    </aside>
    <div class="footer social-medias">
      <img src="../../../assets/img/footer/insta.svg" alt="logo-instagram" width="30px">
      <img src="../../../assets/img/footer/face.svg" alt="logo-face" width="30px">
    </div>
  </footer>
</main>
