<main class="container">
  <section class="content-background">
    <div class="img-background"></div>
    <aside class="content-password">
      <label>Insira seu endereço de e-mail cadastrado</label>
      <form class="input-form">
        <mat-form-field class="input-full">
          <mat-label>E-mail</mat-label>
          <input
            type="email"
            matInput
            [formControl]="emailFormControl"
            [errorStateMatcher]="matcher"
            placeholder="Ex. gmbarber@example.com"
            maxlength="50"
          />
          <mat-error
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            E-mail invalido
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            E-mail é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </form>
      <button
        [disabled]="isEmailInvalid"
        [ngClass]="isEmailInvalid ? 'l-button submit disabled' : ''"
        class="l-button submit"
        type="submit"
      >
        Enviar
      </button>
    </aside>
  </section>
</main>
